<div class="container  mt-4">
<div class="row">
<h2 class="mb-4">Modifier l'utilisateur: {{currentuser?.name}} {{currentuser?.surname }}</h2>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form" *ngIf="!spinner">
  <mat-form-field class="form-element" >
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" readonly>
  </mat-form-field>
<p-password formControlName="password"
    placeholder="L'ancient mot de passe"
    [toggleMask]="true"
    [feedback]="false">
</p-password>
<p-password formControlName="newpassword"
    placeholder="Nouveau mot de passe"
    [toggleMask]="true"
    [feedback]="true">
    <ng-template pTemplate="header">
      <h6>Introduit mot de passe</h6>
  </ng-template>
  <ng-template pTemplate="footer">
      <p-divider></p-divider>
      <p class="mt-2">Suggestions</p>
      <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
          <li>Minimum un minuscule</li>
          <li>Minimum un majuscule</li>
          <li>Minimum un numéro</li>
          <li>Minimum un caractère spécial</li>
          <li>8 caractères</li>
      </ul>
  </ng-template>
</p-password>
<div class="form-element">
  <button mat-raised-button color="primary" type="submit" class="w-100 d-flex justify-content-center align-items-center mt-5" [disabled]="!formGroup.valid">Valider</button>
</div>
</form>

<div  *ngIf="spinner" class="w-100 d-flex justify-content-center align-items-center mt-5">
  <mat-spinner></mat-spinner>
</div>
</div>
</div>
